@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

header {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

.header__container {
    max-width: 1520px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__button-burguer {
    display: none;
}

@media (max-width: 769px) {
    .header__button-burguer {
        display: block;
    }
}

.header__logo-rog {
    width: 160px;
    fill: #f51928;
}

.header__nav-list {
    display: flex;
}

@media (max-width: 769px) {
    .header__nav-list {
        display: none;
    }
}

.header__nav-item {
    padding: 0 14px;
    color: white;
    text-decoration: none;
}

.header__nav-item:hover {
    color: #f51928;
}

.header__container--right {
    display: flex;
    align-items: center;
}

.header__logo-asus {
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #424242;
}

@media (max-width: 769px) {
    .header__logo-asus {
        display: none;
    }
}

.header__container-search-user {
    display: flex;
    gap: 15px;
}

.container-logo {
    width: 24px;
}

@media (max-width: 769px) {
    .user {
        display: none;
    }
}

.container-logo:hover path {
    fill: #f51928;
}

.section {
    background-color: gray;
    height: calc(100vh - 50px);
}
